<li>
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}Eat more!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-bugers" data-id="{{this.id}}">DELETE!</button>
</li>
