<h1>Eat-da-burger!</h1>

{{!-- displays burgers avaialable with id of 0 --}}
</li>
<ul><h2>Burgers for you to eat!</h2>
  {{#each burgers}}
    {{#unless devoured}}
    <form class= "eatburger">
    <li value={{id}} class="each">{{id}}. {{burger_name}} 

    
    <button type="submit" class="eat" {{devoured}} {{id}}>Devour</button></li>
</form>
    {{/unless}}
    </li>
    {{/each}}
  </ul>

{{!-- displays burgers that have been eaten with id of 1 --}}
  </li>
<ul><h2>already eaten!</h2>
  {{#each burgers}}
  {{#if devoured}}
  <li class ="each">{{id}}. {{burger_name}} 
  
  {{/if}}
  </li>
  {{/each}}
</ul>





<form id="create-form">

  <div class="form-group">
    <label for="ca">Add Burger:</label>
    <input type="text" id="newBurger" name="burger_name">
  </div>
   <button id="add" type="submit">XAdd burger</button>
</form> 



