<div class="col-xs-1" align="center">
  <h1>Eat-da-burger <p><i class="fas fa-hamburger fa-xs fa-spin"></i></p>

  </h1>
</div>



<div class="container">
  <div class="row">
    <div class="card-columns mx-auto d-flex justify-content-center col-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"> Eat me!</h2>
          {{!-- displays burgers avaialable with devoured id of 0,false --}}
          </li>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <form class="eatburger">
              <li value={{id}} class="each">{{id}}. {{burger_name}}
                <button type="submit" class="eat" {{devoured}} {{id}}>Devour <i
                    class="far fa-grin-tongue fa-lg"></i></button>

              </li>
            </form>
            {{/unless}}
            </li>
            {{/each}}
          </ul>
          </li>
        </div>
      </div>
    </div>
    <div class="card-columns mx-auto d-flex justify-content-center col-6">
      <div id="eaten" class="card">
        <div class="card-body">
          <h2 class="card-title">Already eaten!</h2>
          {{!-- displays burgers that have been eaten with devoured id of 1,true --}}

          <div id="gone">
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              <li class="each">{{id}}. {{burger_name}}
                <button class="delete" data-id="{{this.id}}">Bin it <i class="far fa-trash-alt fa-sm"></i></button>
                {{/if}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-1" align="center">
  <div id="adding">
    <form id="newBurger">
      <button id="add" type="submit">Add burger <i class="far fa-hand-point-right fa-lg"></i></button>
      <input type="text" placeholder="Burger" id="burger_name">
    </form>
  </div>
</div>