<div class="col-xs-1" align="center">
  <h1>Eat-da-burger  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

      <div id="ready">
        {{!-- displays burgers avaialable with devoured id of 0,false --}}
        </li>
        <ul>
          <h2>Burgers for you to eat!</h2>
          {{#each burgers}}
          {{#unless devoured}}
          <form class="eatburger">
            <li value={{id}} class="each">{{id}}. {{burger_name}}
              <button type="submit" class="eat" {{devoured}} {{id}}>Devour</button>
            </li>
          </form>
          {{/unless}}
          </li>
          {{/each}}
        </ul>

        {{!-- displays burgers that have been eaten with devoured id of 1,true --}}
        </li>
      </div>

    </div>
    <div class="col-sm">
      <div id="gone">
        <ul>
          <h2>Already eaten!</h2>
          {{#each burgers}}
          {{#if devoured}}
          <li class="each">{{id}}. {{burger_name}}

            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>



<div class="col-xs-1" align="center">
  <div id="adding">
    <form id="newBurger">




      <button id="add" type="submit">Add burger</button>
      <input type="text" placeholder="Burger" id="burger_name">

    </form>

  </div>
</div>
